---
layout: default
---

<div class="" id="home">
  <div class="landing-text">
      <div class="typewriter">
        <h1 style="font-family: 'Economica'; "><b> I'm Nova Farha Srabon. </b></h1>
      </div>
    </div>
  </div>
</div>
<div class="buffer" id="aboutme" style="height: 7rem;"></div>
<div class="container" >
  <div class="row">
    <div class="col-md-6" style="text-align:right;">
      <h2 style="font-family: 'Economica'; "> About Me! </h2>
      <p style="font-family: 'Economica', sans-serif; font-size: 20px; "> My passion for architecture and dream around this subject push me to think broadly and to work hard to be a professional. As an avid learner, I always welcome any event as an experience. I am an ambivert, honest, devoted, responsible, and enjoy challenging situations. </p>
    </div>
    <div class="col col-md-6">
      <img src="{{"assets/profile.jpg" | relative_url }}" alt="" style="width: 100%; height:auto; border: 1px solid #ddd; padding-rigt: 20px;">
    </div>
  </div>
</div>
<div class="buffer" id="projects" style="height: 7rem;"></div>
<div class="container" >
  <h1 style="font-family: 'Economica'; text-align:center;"> Here is all the projects on which I worked on! </h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    {% for project in site.projects %}
    <div class="row" style="margin-top: 3rem; margin-bottom: 3rem;">
      {% assign value = forloop.index | modulo:2 %}
      {% if value == 1 %}
      <div class="col-sm-6">
        <img style=" width:100%; height:auto; padding-left: 40px;" src="{{ project.thumbnail }}" alt="{{ project.title}}">
      </div>
      <div class="col-sm-6">
        <h2 style="font-family: 'Economica'; "> {{forloop.index}}. {{ project.title }} </h2>
        <p style="font-family: 'Montserrat', sans-serif;" "> {{ project.content }} </p>
        <a href="{{ project.url | relative_url}}"> view full project </a>
      </div>

      {% else %}
      <div class="col-sm-6" style="text-align:right;">
        <h2 style = "font-family: 'Economica'; "> {{forloop.index}}. {{ project.title }} </h2>
        <p style=  "font-family: 'Economica', sans-seri; font-size: 20px;"> {{ project.content }} </p>
        <a href="{{ project.url | relative_url}}"> view full project </a>
      </div>
      <div class="col-sm-6">
        <img style=" width:100%; height:auto; padding-right:40px;" src="{{ project.thumbnail }}" alt="{{ project.title}}">
      </div>
      {% endif %}
    </div>
    <hr>
    {% endfor %}




</div>

<div class="buffer" id="contact" style="height: 7rem;"></div>
<div class="container" >
  <h2 style="font-family: 'Economica'; text-align:center;"> My contact informations </h2>
</div>
<div class="buffer" style="height: 7rem;"></div>
